.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}

.container {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 100%;
}

.card {
  width: 24%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.card-detail {
  width: 320px;
  margin: 10px;
  border-radius: 5px;
}

.te-imag {
  width: 220px;
  border-radius: 50%;
  height: 220px;
}

.card-header2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.card-header h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #666;
  margin: 10px;
}

.card-body p {
  font-size: 1.5rem;
  text-align: center;
  color: #666;
  margin: 10px;
}

.card-body img:hover {
  transform: scale(1.1);
  transition: all 250ms ease-out;
}

.btn {
  text-transform: uppercase;
  margin: 5px;
  margin-left: -2px;
  cursor: pointer;
}
.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #007bff;
  padding: 10px 20px;
  color: #007bff;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #00ff95;
  padding: 10px 20px;
  color: #00ff95;
}

.btn-block {
  width: 100%;
}
.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.text-descrip {
  text-overflow: ellipsis !important;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  display: block;
}

.stock {
  color: blanchedalmond;
  background-color: #007bff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 600;
}

.homecontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.texth3 h1 {
  font-size: 2rem;
  color: #666;
}

.carousel p {
  background-color: transparent !important;
  font-size: 1.5rem;
  color: #666;
  margin: 10px;
}
.legend {
  font-size: 1.5em !important;
  font-weight: 600 !important;
  color: blanchedalmond !important;
  text-shadow: 1px 1px 1px #000 !important;
}
